.container, .container-fluid {
    width: 80%;
}

table {
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

thead {
  border-bottom: 1px solid black;
}

th, td {
  vertical-align: middle;
}

/*Стили для навигации*/
.navbar {
  background-color: #e3f2fd;
}

.dropdown {
  overflow: visible;
  z-index: 999;
}



.margin {
    margin: 5px;
}

.modal-size-2 {
    width:200px
}

.navbar-brand img{
    border: 2px solid lightgreen;
}

.navbar-brand img:hover {
    border: 2px solid greenyellow;
    opacity: 0.7;
}

.nav-item:hover {
    opacity: 0.7;
    background-color: rgba(13, 110, 253, 0.5);
    border-radius: 5px;
}
/*Стили для карточек сотрудников и вложенных данных*/
.employee-list {
    width: 100%;

    margin: 0;
    padding: 0;
}

.employee-card {
    width: 100%;
}

.employee-info {
    width: 30%;
    padding-top: 10px;
}

.arrow-down {
  border: solid black;
  border-width: 0 2px 2px 0;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: -7px auto 0 10px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-down:hover {
  opacity: 0.3;
}

.add-exam__btn:hover, .edit-employee-info__btn:hover {
  opacity: 0.3;
}

.card-body {
    margin: 0;
}

.card-text {
    text-align: justfy-all;
}

.employee-examaminations {
    width: 70%;
    align-self: center;
    margin: 0;
}

.exam-number {
  width: clamp(30px, 40px, 50px);
}

.exam-name {
  width: clamp(90px, 95px, 120px);
}

.exam-protocol {
  width: clamp(100px, 150px, 170px);
}

.exam-date {
  width: clamp(120px, 140px, 160px);
}

.exam-next-date {
  width: clamp(120px, 160px, 170px);
}

.exam-place {
  width: clamp(80px, 115px, 130px);
}

.certificate-num {
  width: 5px;
}

.certificate-number {
  width: 30px;
}

.certificate-employee {
  width: clamp(80px, 115px, 130px);
}

.dropdown:hover {
  opacity: 1;
}