<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="./css/bootstrap/bootstrap.min.css"  rel="stylesheet" crossorigin="anonymous">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', path='css/bootstrap/bootstrap.min.css') }}"  rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">

    <title>Охрана труда</title>
</head>
<body>
<!--Навигация-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand p-0" href="/">
            <!-- <img src="./img/logo.jpg" width="42px" height="42px" style="border-radius: 10px"> -->
            <img src="{{ url_for('static', path='img/logo.jpg') }}" width="42px" height="42px" style="border-radius: 10px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/exams-list">Список экзаменов</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/certificates">Удостоверения</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Настройки
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/divisions-page">Подразделения</a></li>
                  <li><a class="dropdown-item" href="/positions">Должности</a></li>
                  <li><a class="dropdown-item" href="/exam-types">Виды экзаменов</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
              <button class="btn btn-outline-info p-2" type="submit">Поиск</button>
            </form>
          </div>
        </div>
    </nav>
    
    <div class="container-fluid mt-3">

        <ul class="disivion-list d-flex flex-column justify-content-between align-items-start flex-wrap">
            {% for division in divisions %}
                
              <li class="disivion-list__card disivion-card card mb-3">
                <form class="group-form" id="division-id-{{division.id}}">
                <div class="disivion-card__header card-header d-flex justify-content-start align-items-center">
                
                <h5 id="title-{{division.id}}" class="card-header__name text-center d-block">{{division.name}}</h5>

                <a class="arrow-down" data-bs-toggle="collapse" href="#collapse-{{division.id}}" role="button" aria-expanded="false" aria-controls="collapseExample"></a>

                <a class="add-division__btn me-2" data-division-id="{{division.id}}" type="button" >

                    <!-- <img src="./img/icon-plus.svg" width="28px" height="28px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Добавить экзамен"> -->
                    <img src="/static/img/icon-plus.svg" width="28px" height="28px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Добавить группу">
                </a>

                <button class="save-info__btn me-2" type="submit">
                    <!-- <img src="./img/icon-edit.png" width="32px" height="32px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Редактировать сотрудника"> -->

                    <img src="/static/img/icon-save.png" width="25px" height="25px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Сохранить">
                </button>

                <a class="edit-division__btn" data-division-id="{{division.id}}" type="button" data-bs-toggle="modal" data-bs-target="#division-edit">
                  <!-- <img src="./img/icon-edit.png" width="32px" height="32px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Редактировать сотрудника"> -->
      
                  <img src="{{ url_for('static', path='img/icon-edit.png') }}" width="32px" height="32px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Редактировать сотрудника">
                </a>

                </div>
                <div class="collapse" id="collapse-{{division.id}}">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th class="group-number" scope="col-1">#</th>
                            <th class="group-name" scope="col"> Наименование групп, отделов и т.д. </th> 
                            <th class="edit-col" scope="col"></th> 
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for subdivision in division.subdivisions %}
                                <tr>
                                    <th class="group-number" scope="row">{{loop.index}}</th>
                                    <td >
                                    <input name="{{subdivision.id}}" data-subdivision-id='{{subdivision.id}}' autocomplete="off" type="text" class="form-control edit-period" value="{{subdivision.name}}" aria-describedby="basic-addon1" required>
                                    </td>
                                    <td>
                                      <a class="del-btn" type="button" data-subdivision-id="{{subdivision.id}}">            
                                        <img src="{{ url_for('static', path='img/del.png') }}" width="32px" height="32px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Удалить">
                                      </a>
                                    </td>
                                </tr>
                            {% endfor %}
            
                        </tbody>
                    </table>
                </div>
              </form>
            </li>
           
            {% endfor %}
            <button class="btn btn-primary add-division-btn" type="button" data-bs-toggle="modal" data-bs-target="#division-edit">Добавить подразделение</button>

        </ul>

    </div>
      
    

    <!-- Modal -->

    <div class="modal fade" id="division-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        
        <form class="division-form" data-division-id="0">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Редактировать</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="input-group mb-3">
                <label class="input-group-text text-center d-block" style="width:150px">Наименование</label>
                <input name="name" type="text" autocomplete="off" class="form-control edit-name division-name" value="" required>
              </div>
            
              </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-danger del-division-button">Удалить</button>
              <button type="reset" class="btn btn-secondary division-close close-button" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Принять</button>
            </div>
          
          </div>
        </form>
      </div>
    </div>

    
    <script src="{{ url_for('static', path='js/bootstrap_js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/bootstrap_js/tooltip-enable') }}" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', path='js/division.js') }}"></script>
    
</body>
</html>
