<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="./css/bootstrap/bootstrap.min.css"  rel="stylesheet" crossorigin="anonymous">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', path='css/bootstrap/bootstrap.min.css') }}"  rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">

    <title>Охрана труда</title>
</head>
<body>
<!--Навигация-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand p-0" href="/">
            <!-- <img src="./img/logo.jpg" width="42px" height="42px" style="border-radius: 10px"> -->
            <img src="{{ url_for('static', path='img/logo.jpg') }}" width="42px" height="42px" style="border-radius: 10px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/exams-list">Список экзаменов</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/certificates">Удостоверения</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Настройки
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/divisions-page">Подразделения</a></li>
                  <li><a class="dropdown-item" href="/positions">Должности</a></li>
                  <li><a class="dropdown-item" href="/exam-types">Виды экзаменов</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
              <button class="btn btn-outline-info p-2" type="submit">Поиск</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="container-fluid mt-3 mb-3  p-2">
      <h1 class="exam-type-title "> Список экзаменов </h1>

      <div class="examaminations-list">
        <table class="examinations-table table table-striped table-hover">
          <thead>
            <tr>
              <th class="exam-number" scope="col">#</th>
              <th class="exam-list-employee col-3" scope="col">Сотрудник</th>
              <th class="exam-list-name col-2" scope="col">Экзамен</th>
              <th class="exam-list-protocol col-1" scope="col">Протокол</th>
              <th class="exam-list-date col-1" scope="col">Дата сдачи</th>
              <th class="exam-list-next-date col-1" scope="col">Следующая сдача</th>
              <th class="exam-list-place col-1" scope="col">Место сдачи</th>
              <th class="exam-list-notation col-3" scope="col">Примечание</th>
            </tr>
          </thead>
          <tbody>
            {% for exam in exams %}
              <tr>
                <th class="exam-list-number">{{loop.index}}</th>
                <th class="exam-list-employee">{{exam.employee}}</th>
                <th class="exam-list-name">{{exam.exam_name}}</th>
                <th class="exam-list-protocol">{{exam.protocol}}</th>
                <th class="exam-list-date">{{exam.date}}</th>
                <th class="exam-list-next-date">{{exam.next_date}}</th>
                <th class="exam-list-place">{{exam.place}}</th>
                <th class="exam-list-notation">{{exam.notation}}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
              <a class="page-link {{'disabled' if page == 1}}" href="/exams-list?page={{page-1}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in range(max_page) %}
            {% if i == 0 or i == 1 or i == max_page-1 or i == max_page-2 or i == page or i == page-1 or i == page-2 or i == page-3 or i == page + 1 %}
              {% if page != i+1 %}
                <li class="page-item"><a class="page-link" href="/exams-list?page={{i+1}}">{{i+1}}</a></li>
              {% else %}
                <li class="page-item active"><a class="page-link" href="/exams-list?page={{i+1}}">{{i+1}}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          <li class="page-item">
            <a class="page-link {{'disabled' if page == max_page}}" href="/exams-list?page={{page+1}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
    

    <!-- Modal -->

    <div class="modal fade" id="exam-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        
        <form class="exam-type-form" data-exam-id="">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Редактировать</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="input-group mb-3">
                <label class="input-group-text text-center d-block" style="width:150px">Наименование</label>
                <input name="name" type="text" autocomplete="off" class="form-control edit-name" id="validationServer01" value="" required>
                <div class="invalid-feedback">
                  Пожалуйста, введите сообщение в текстовое поле.
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text text-center d-block" style="width:150px" id="basic-addon1">Период</span>
                <input name="period" type="number" autocomplete="off" class="form-control edit-period" value="" aria-describedby="basic-addon1" required>
                <div class="invalid-feedback">
                  Пожалуйста, введите сообщение в текстовое поле.
                </div>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text text-center d-block" style="width:150px">Описание</label>
                <textarea class="form-control edit-description" autocomplete="off" id="validationTextarea" name="description" rows="5" cols="50">chel ty chort</textarea>
                <div class="invalid-feedback">
                  Пожалуйста, введите сообщение в текстовое поле.
                </div>
              </div>
            
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Принять</button>
            </div>
          
          </div>
        </form>
      </div>
    </div>

    
    <script src="{{ url_for('static', path='js/bootstrap_js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/bootstrap_js/tooltip-enable') }}" crossorigin="anonymous"></script>
    
</body>
</html>
