<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="./css/bootstrap/bootstrap.min.css"  rel="stylesheet" crossorigin="anonymous">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', path='css/bootstrap/bootstrap.min.css') }}"  rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">

    <title>Охрана труда</title>
</head>
<body>
<!--Навигация-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand p-0" href="/play_video/video.mp4">
            <!-- <img src="./img/logo.jpg" width="42px" height="42px" style="border-radius: 10px"> -->
            <img src="{{ url_for('static', path='img/logo.jpg') }}" width="42px" height="42px" style="border-radius: 10px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/exams-list">Список экзаменов</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/certificates">Удостоверения</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Настройки
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/divisions-page">Подразделения</a></li>
                  <li><a class="dropdown-item" href="/positions">Должности</a></li>
                  <li><a class="dropdown-item" href="/exam-types">Виды экзаменов</a></li>
                  <li><a class="dropdown-item" href="/file/get-month-exam-list" download>Список экз на след месяц</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex search-line" role="search">
              <input class="form-control me-2 search-input" autocomplete="off" name="query" type="search" placeholder="" aria-label="Search">
              <button class="btn btn-outline-info p-2" type="submit">Поиск</button>
            </form>
          </div>
        </div>
    </nav>


<!--Навигация по подразделениям-->
    <div class="container-fluid mt-3">
      <div class="filter-container d-flex justify-content-between">
        <ul class="nav nav-pills mb-3 gap-1">

          <li class="nav-item filter-item">
            <button class="nav-link active" id="everyone" aria-current="page">Все</button>
          </li>

        </ul>
        <div class="right-place d-flex gap-3"> 
          <form class="import-form" action="/file/upload" method="POST" enctype="multipart/form-data">
            <div class="input-group">
              <input type="file" name="file" class="form-control" autocomplete="off" id="inputFile" accept=".xls, .xlsx" required>
              <button class="input-group-text" for="inputFile">Импортировать</button>
            </div>
          </form>
        </div>
      </div>
      
<!--Карточки сотрудников-->
      <section class="employee-cards d-flex justify-content-between align-items-start flex-wrap">

        <ul class="employee-list d-flex flex-column justify-content-between align-items-start flex-wrap">

        </ul>
      </section>
    </div>


<!-- Модальные окна -->
<!-- Модальное окно редактирования информации о сотруднике -->
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Редактировать</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="edit-employee-form" data-employee-id="">
            <div class="modal-body">

              <div class="input-group mb-3">
                <span class="input-group-text " id="protocolLabel">ФИО</span>
                <input name="fio" type="text" class="form-control fio-input" autocomplete="off" aria-describedby="basic-addon1" id="validationServer01" required>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text text-center d-block" for="inputGroupSelect01" style="width:150px">Должность</label>
                <select name="position_id" class="form-select position-input" autocomplete="off" id="inputGroupSelect01">
                  <option value="0" selected disabled hidden>Выберите значение</option>
                  {% for position in positions %}
                      <option value="{{position.id}}">{{position.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text text-center d-block" for="inputGroupSelect01" style="width:150px">Подразделение</label>
                <select name="subdivision_id" class="form-select subdivision-input" autocomplete="off" id="inputGroupSelect01">
                  <option value="0" selected disabled hidden>Выберите значение</option>
                  {% for subdivison in subdivisons %}
                      <option value="{{subdivison.id}}">{{subdivison.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Номер удостоверения</span>
                <input name="certificate_id" type="number" class="form-control certificate-input" min="1" max="500" autocomplete="off" placeholder="Номер (1-500)" aria-label="Номер удостоверения" aria-describedby="basic-addon1">
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text modal-size-2" for="state-select" style="width:150px" >Статус</label>
                <select name="is_active" class="form-select place-input" autocomplete="off" id="place-select">
                  <option value="true" selected>В штате</option>
                  <option value="false">Уволен</option>
                </select>
              </div>

            </div>
            <div class="modal-footer">
                <div> 
                  <button class="btn btn-danger del-employee-button">Удалить</button>
                  <button type="reset" class="btn btn-secondary close-button" data-bs-dismiss="modal">Закрыть</button>
                  <button type="submit" class="btn btn-primary">Принять</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<!-- Модальное окно добавления экзамена -->
    <div class="modal fade" id="addBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 add-exam-title" id="staticBackdropLabel">Добавление экзамена</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="add-exam-form" data-employee-id="" data-exam-id="">
            <div class="modal-body">
              <div class="input-group mb-4">
                <label class="input-group-text modal-size-2" for="examSelect">Экзамен</label>
                <select name="exam_type_id" class="form-select" id="examSelect" autocomplete="off" required>
                  {% for examType in examTypes %}
                    <option value="{{examType.id}}">{{examType.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="input-group mb-4">
                <span class="input-group-text modal-size-2" id="protocolLabel">Протокол</span>
                <input name="protocol" type="text" class="form-control protocol-input" autocomplete="off" aria-describedby="basic-addon1" id="validationServer01" required>
              </div>

              <div class="input-group mb-4">
                <span class="input-group-text modal-size-2" id="basic-addon1">Дата сдачи</span>
                <input name="date" type="date" class="form-control date-input" autocomplete="off" placeholder="Номер удостоверения" required>
              </div>

              <div class="input-group mb-4">
                <span class="input-group-text modal-size-3" id="basic-addon1">Дата следующей сдачи</span>
                <input name="next_date" type="date" class="form-control next-date-input" autocomplete="off" placeholder="Номер удостоверения">
              </div>

              <div class="input-group mb-4">
                <label class="input-group-text modal-size-2" for="place-select">Место</label>
                <select name="place" class="form-select place-input" autocomplete="off" id="place-select">
                  <option value="ИВЦ" selected>ИВЦ</option>
                  <option value="ФКЦ">ФКЦ</option>
                </select>
              </div>

              <div class="input-group">
                <span class="input-group-text">Примечание</span>
                <textarea name="notation" class="form-control text-input" autocomplete="off" aria-label="With textarea"></textarea>
              </div>
            

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger del-exam-button">Удалить</button>
              <button type="reset" class="btn btn-secondary close-button" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Принять</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <template id="employee-card">

      <li class="employee-list__card employee-card card mb-3">

        <div class="employee-card__header card-header d-flex justify-content-start align-items-center">

          <h5 class="card-header__name text-center d-block">Кабанчик кабанчиков</h5>

          <a class="arrow-down" data-bs-toggle="collapse" href="#24" role="button" aria-expanded="false" aria-controls="collapseExample"></a>

          <a class="add-exam__btn me-2" type="button" data-bs-toggle="modal" data-bs-target="#addBackdrop">

            <!-- <img src="./img/icon-plus.svg" width="28px" height="28px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Добавить экзамен"> -->
            <img src="{{ url_for('static', path='img/icon-plus.svg') }}" width="28px" height="28px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Добавить экзамен">
          </a>

          <a class="edit-employee-info__btn" href="#" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
            <!-- <img src="./img/icon-edit.png" width="32px" height="32px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Редактировать сотрудника"> -->

            <img src="{{ url_for('static', path='img/icon-edit.png') }}" width="32px" height="32px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Редактировать сотрудника">
          </a>

        </div>

        <div class="collapse" id="">

          <div class="card-body row d-flex justify-content-start align-items-start flex-wrap">

            <div class="employee-info col-1 d-flex flex-column justify-content-center">

              <p class="employee-position card-text"></p>
              <p class="employee-division card-text"></p>
              <p class="employee-subdivision card-text"></p>
              <p class="employee-certificate card-text"></p>

            </div>
          </div>

        </div>

      </li>
    </template>

    <template id="examinations-table">
      <div class="employee-examaminations col-4">
        <table class="employee-examaminations__table examinations-table table table-striped table-hover">
          <thead>
            <tr>
              <th class="exam-number" scope="col">#</th>
              <th class="exam-name" scope="col">Экзамен</th>
              <th class="exam-protocol" scope="col">Протокол</th>
              <th class="exam-date" scope="col">Дата сдачи</th>
              <th class="exam-next-date" scope="col">Следующая сдача</th>
              <th class="exam-place" scope="col">Место сдачи</th>
              <th class="exam-notation" scope="col">Примечание</th>
              <th class="exam-edit" style="width: 50px;" scope="col"></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </template>

    <!-- <script src="./js/bootstrap_js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="./js/bootstrap_js/tooltip-enable" crossorigin="anonymous"></script>
    <script type="module" src="./js/main.js"></script> -->

    <script src="{{ url_for('static', path='js/bootstrap_js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/bootstrap_js/tooltip-enable') }}" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', path='js/main.js') }}"></script>

</body>
</html>
